<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imgPath" [alt]="recipe.name" class="img-responsive" style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="button-group" appDropdown>
      <button
      type="button"
      class="btn btn-primary dropdown-toggle">
        Optiuni <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="AddToShop()" style="cursor: pointer">Adauga in cos</a> </li>
        <li><a style="cursor: pointer" (click)="onEdit()">Modifica</a> </li>
        <li><a style="cursor: pointer" (click)="onDelete()">Sterge</a> </li>

      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{recipe.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let i of recipe.ingredients">
        {{i.name}} - {{i.quantity}}

      </li>
    </ul>
  </div>
</div>
